/*  your css code here. If applicable */
    body {
      background-color: #f8f8f8;
    }
    .book-library {
      background-color:gray;
  
	width:40%;
 
      display: flex;
    
flex-direction:column;
    }
    .book {
      width: 180px;
      margin: 15px;
   
    }
    .book img {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
    }
    .book h2 {
      font-size: 1.1em;
      margin: 10px 0 5px;
    }
    .book p.author {
      color: #777777;
      margin: 5px 0;
      font-size: 0.9em;
    }
    .book p.price {
		display:flex;
		justify-content:center;
		align-items:center;
		width:100%;
      background-color: #2ecc71;
      font-weight: bold;
      margin: 5px 0;
    }
